body{
	margin: 50px;
}
header{
	height: 70vh;
	opacity: 0.5;
	background-image: url(img/workstation.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#main{
	color: #4d274b;
	padding: 10px;
}
img {
  border-radius: 50%;
}
li{
	display: inline;
}